<div id="footer1">
    <div class="wrap">
        <div id="tel">
            <p><img src="<%=imgPath%>v2.0/tel.png"></p>
            <p class="ti20">周一至周日&nbsp;9：00-18：00</p>
        </div>
        <ul id="nav2">
            <li><a href="/supply">办公用品</a></li>
            <li><a href="/decoration">办公装修</a></li>
            <li><a href="/furniture">办公家具</a></li>
            <li><a href="/plant">绿植服务</a></li>
            <li><a href="/list-80-0-0.html">休闲小食</a></li>
            <li><a href="/service">工商服务</a></li>
            <li class="nobor"><a href="/aboutUs">关于我们</a></li>
        </ul>
    </div>
</div>
<div id="footer2">
    <div class="wrap">
        <p><a href="http://www.mimujiang.com" target="_blank">米木匠</a>&nbsp;|&nbsp;<a href="http://www.xkqh.com" target="_blank">星空琴行</a>&nbsp;|&nbsp;<a href="http://www.lanxiniu.com" target="_blank">蓝犀牛</a>&nbsp;|&nbsp;<a href="http://www.yidiyiwei.com/" target="_blank">一地一味</a>&nbsp;|&nbsp;<a href="http://cdh100.com" target="_blank">场地汇</a>&nbsp;|&nbsp;<a href="http://www.hongyaxuan.com/" target="_blank">洪雅轩</a></p>
        <p>Copyright@2014 lankaola.com All rights reserved 京ICP备14029475号-2</p>
    </div>
    <div style="display: none; width: 0; height: 0; overflow: hidden;">
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?217d2f884fea952f137d0799e8f5eb48";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </div>
</div>