<!DOCTYPE html>
<html>
<head>
    <title>服务产品-服务、办公 - 时效服务、正品低价、品质保障、货到付款、配送及时、放心服务、享受服务！- 蓝考拉</title>
    <meta name="Keywords" content="企业服务,企业服务平台,办公服务，办公服务平台，笔记本,电脑,办公耗材，办公服务，企业服务，法律服务，注册服务，公司注册，蓝考拉企业服务平台">
    <meta name="description" content="蓝考拉LANKAOLA.COM-专业企业服务综合平台，在线销售办公用品、企业服务、法律服务、公司注册、办公服务、办公设备、电脑、办公家具、耗材、文具/耗材、食品、在线产品定制等数千牌千万种优质商品。便捷、诚信的服务，为您提供愉悦的办公服务体验!">
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>reset.css,global.css,service.css,v2.0/common.css">
</head>
<body>
<% include header.html %>
<div class="clear comWidth">
    <div class="serviceItem" id="companyReg">
        <div class="serviceTitle dotBorderBot">
            <span class="serviceIcon"></span>

            <h3><a href="/service/view/100722" target="_blank">公司注册</a></h3>
        </div>
        <div class="serviceContent">
            <div class="serviceContentItem dotBorderBot">
                <h3>核名</h3>
                <p>公司名称（3个名称以上备用）</p>
                <p>注册资金...</p>
            </div>
            <div class="serviceContentItem dotBorderBot">
                <h3>执照办理</h3>
                <p>确定注册地址（营业执照上地址）</p>
                <p>设立登记申请书等...</p>
            </div>
            <div class="serviceContentItem dotBorderBot">
                <h3>取照</h3>
                <p>法人身份证原件（如是股东前来，需带上法人身份证和本人身份证）...</p>
            </div>
            <div class="serviceContentItem">
                <h3>刻章</h3>
                <p>"法人身份证、营业执照副本原件（共：公章、财务章、法人人名章、合同章、发票专用章）"	...</p>
            </div>
        </div>
        <div class="serviceItemBot">
            <span class="servicePrice">预付金：￥99</span>
            <a href="/service/view/100722" target="_blank">查看详情&gt;&gt;</a>
        </div>
    </div>
    <div class="serviceItem" id="foreignReg">
        <div class="serviceTitle dotBorderBot">
            <span class="serviceIcon"></span>

            <h3><a href="/service/view/100723" target="_blank">海外公司注册</a></h3>
        </div>
        <div class="serviceContent">
            <div class="serviceContentItem dotBorderBot">
                <h3>公司取名 </h3>

                <p>通过网站查询公司的名字是否有重复</p>
            </div>
            <div class="serviceContentItem dotBorderBot">
                <h3>准备申请材料 </h3>
                <ol>
                    <li>一人股东或两个以上股东护照或身份证(18岁以上、复印件/扫描件)</li>
                    <li>提供三个美国公司名称，经美国公司注册...</li>
                </ol>
            </div>
            <div class="serviceContentItem dotBorderBot">
                <h3>填写公司注册证</h3>

                <p>以新泽西为例，填写Certificate of Incorporation Sample...</p>
            </div>
            <div class="serviceContentItem">
                <h3>传真至州政府</h3>

                <p>通过网站查询公司的名字是否有重复</p>
            </div>
        </div>
        <div class="serviceItemBot">
            <span class="servicePrice">预付金：￥99</span>
            <a href="/service/view/100723" target="_blank">查看详情&gt;&gt;</a>
        </div>
    </div>
    <div class="serviceItem" id="HKReg">
        <div class="serviceTitle dotBorderBot">
            <span class="serviceIcon"></span>

            <h3><a href="/service/view/100724" target="_blank">香港公司注册</a></h3>
        </div>
        <div class="serviceContent">
            <div class="serviceContentItem dotBorderBot">
                <h3>公司名称查册</h3>

                <p>提交最满意名称，通过网站或香港直线查询</p>
            </div>
            <div class="serviceContentItem dotBorderBot">
                <h3>准备并填写资料</h3>
                <ol>
                    <li>致商业登记署通知书(IRBR1)</li>
                    <li>法团成立表格 – 供股份有限公司使用的表格NNC1或供股份有限公司...</li>
                </ol>
            </div>
            <div class="serviceContentItem dotBorderBot">
                <h3>缴纳注册费用</h3>

                <p>香港公司注册处...</p>
            </div>
            <div class="serviceContentItem">
                <h3>提交商业登记申请</h3>

                <p>商业登记申请表</p>
                <p>提交费用的支票</p>
                <p>公司注册证书副本...</p>
            </div>
        </div>
        <div class="serviceItemBot">
            <span class="servicePrice">预付金：￥99</span>
            <a href="/service/view/100724" target="_blank">查看详情&gt;&gt;</a>
        </div>
    </div>
    <div class="serviceItem" id="investment">
        <div class="serviceTitle dotBorderBot">
            <span class="serviceIcon"></span>

            <h3><a href="/service/view/100725" target="_blank">融资顾问</a></h3>
        </div>
        <div class="serviceContent">
            <div class="serviceContentItem dotBorderBot">
                <h3>需求原因</h3>

                <p>由于融资难度的增加，风险企业才需要融资顾问为其作一个全面的诊断分析，提出确实可行的发展规划和盈利预测，制定一个合理的风险企业估价和融资金额及资金预算，才能更加有效说服各种投资商或上市公司来投资或追加投资，确保风险企业引进资金后实现与投资商定下的盈利或收入目标...</p>
            </div>
            <div class="serviceContentItem">
                <h3>专业融资顾问服务流程及内容</h3>

                <p>按创业投资运作的惯例，帮助风险企业完善商业计划书，内容至少包括公司成立的时间、注册资本金、公司宗旨与战略、市场需求、产品和技术、商业模式和营销、企业策略规划、公司组织和管理、财务分析和融资、风险及其控制、管理团队等这几个部分，全面、客观地分析和展示风险...</p>
            </div>
        </div>
        <div class="serviceItemBot">
            <span class="servicePrice">预付金：￥99</span>
            <a href="/service/view/100725" target="_blank">查看详情&gt;&gt;</a>
        </div>
    </div>
    <div class="serviceItem" id="legal">
        <div class="serviceTitle dotBorderBot">
            <span class="serviceIcon"></span>

            <h3><a href="/service/view/100726" target="_blank">公司法律顾问</a></h3>
        </div>
        <div class="serviceContent">
            <div class="serviceContentItem dotBorderBot">
                <h3>一般性法律服务</h3>

                <ol>
                    <li>一般性法律服务</li>
                    <li>起草、审核（公司重要的规章制度、合伙协议、股权协议）</li>
                    <li>知识产权申请</li>
                    <li>公司注册</li>
                    <li>日常公证服务</li>
                    <li>外聘律师的选择、联系与沟通</li>
                    <li>法制宣传教育</li>
                </ol>
            </div>
            <div class="serviceContentItem">
                <h3>经营类法律服务</h3>

                <ol>
                    <li>起草、审核（商业合同、借款合同、劳动合同、雇佣合同、房屋租赁合同）</li>
                    <li>对企业重大经营决策提出法律意见</li>
                    <li>股权投融资服务</li>
                </ol>
            </div>
        </div>
        <div class="serviceItemBot">
            <span class="servicePrice">预付金：￥99</span>
            <a href="/service/view/100726" target="_blank">查看详情&gt;&gt;</a>
        </div>
    </div>
    <div class="serviceItem" id="patent">
        <div class="serviceTitle dotBorderBot">
            <span class="serviceIcon"></span>

            <h3><a href="/service/view/100727" target="_blank">专利申请</a></h3>
        </div>
        <div class="serviceContent">
            <div class="serviceContentItem dotBorderBot">
                <h3>申请前查询</h3>

                <p>美国专利商标局网上专利检索（http://patft.uspto.gov ）</p>
                <p>日本特许厅网上专利检索（英文版）	（http://www.ipdl.inpit.go.jp/homepg_e.ipdl </p>
                <p>欧洲专利局网上专利检索（http://worldwide.espacenet.com/?locale=en_EP ）	</p>
                <p>世界知识产权...</p>
            </div>
            <div class="serviceContentItem">
                <h3>申请文件准备</h3>

                <p>申请发明专利（一式两份）</p>
                <p>发明专利请求书</p>
                <p>摘要</p>
                <p>摘要附图（适用时）</p>
                <p>说明书...</p>
            </div>
        </div>
        <div class="serviceItemBot">
            <span class="servicePrice">预付金：￥99</span>
            <a href="/service/view/100727" target="_blank">查看详情&gt;&gt;</a>
        </div>
    </div>
    <div class="serviceItem" id="trademark">
        <div class="serviceTitle dotBorderBot">
            <span class="serviceIcon"></span>

            <h3><a href="/service/view/100728" target="_blank">商标注册</a></h3>
        </div>
        <div class="serviceContent">
            <div class="serviceContentItem dotBorderBot">
                <h3>商标注册预先查询</h3>

                <p>确认需要申请的商标文字或图片logo</p>
            </div>
            <div class="serviceContentItem dotBorderBot">
                <h3>准备申请材料</h3>

                <p>以法人名义申请</p>
                <p>营业执照复印件</p>
                <p>符合要求的商标标识，并将其粘贴在申请书指定位置...</p>
            </div>
            <div class="serviceContentItem">
                <h3>提交申请材料</h3>

                <p>带上上述申请材料，前往商标局办理</p>
                <p>费用：受理商标注册费800元</p>
                <p>符合要求的商标标识，并将其粘贴在申请书指定位置...</p>
            </div>
        </div>
        <div class="serviceItemBot">
            <span class="servicePrice">预付金：￥99</span>
            <a href="/service/view/100728" target="_blank">查看详情&gt;&gt;</a>
        </div>
    </div>
    <div class="serviceItem" id="copyright">
        <div class="serviceTitle dotBorderBot">
            <span class="serviceIcon"></span>

            <h3><a href="/service/view/100729" target="_blank">软件著作权申请</a></h3>
        </div>
        <div class="serviceContent">
            <div class="serviceContentItem dotBorderBot">
                <h3>填写申请表</h3>

                <p>登陆中国版权保护中心软件登记部网站...</p>
            </div>
            <div class="serviceContentItem dotBorderBot">
                <h3>提交申请文件</h3>

                <p>软件著作权登记申请表</p>
                <p>应提交在线填写的申请表打印件，签章应为原件</p>
                <p>软件（程序、文档）的鉴别材料</p>
                <p>一般交存：源程序和文档应提交</p>
            </div>
            <div class="serviceContentItem">
                <h3>缴纳申请费</h3>

                <p>带上上述申请材料，前往商标局办理申请文件符合受理要求时，软件登记机构发出缴费通知，申请人或代理人按照通知要求缴纳费用...</p>
            </div>
        </div>
        <div class="serviceItemBot">
            <span class="servicePrice">预付金：￥99</span>
            <a href="/service/view/100729" target="_blank">查看详情&gt;&gt;</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="<%=jsPath%>jquery-1.8.0.min.js,jquery.SuperSlide.2.1.1.js,v2.0/move-min.js,global.min.js"></script>
<%include footer.html%>
</body>
</html>