<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>绿植服务 - 时效服务、正品低价、品质保障、货到付款、配送及时、放心服务、享受服务！- 蓝考拉</title>
    <meta name="Keywords" content="企业服务,企业服务平台,办公服务，办公服务平台，笔记本,电脑,办公耗材，办公服务，企业服务，法律服务，注册服务，公司注册，蓝考拉企业服务平台">
    <meta name="description" content="蓝考拉LANKAOLA.COM-专业企业服务综合平台，在线销售办公用品、企业服务、法律服务、公司注册、办公服务、办公设备、电脑、办公家具、耗材、文具/耗材、食品、在线产品定制等数千牌千万种优质商品。便捷、诚信的服务，为您提供愉悦的办公服务体验!">
    <link rel="stylesheet" type="text/css" href="<%=cssPath%>reset.css,v2.0/common.css,v2.0/list2.css" />
</head>
<body>
<%include header.html%>
<div id="section1">
    <div class="wrap">
        <h2>最贴心的绿植服务，把绿色放在您的办公室</h2>
        <div class="bread"><a href="/">首页</a> > <span>办公绿植</span> </div>
    </div>
</div>
<div id="section2">
    <div class="wrap">
        <div class="block_group">
            <div class="block_item left">
                <div class="squared"></div>
                <div class="pic"><img src="<%=imgPath%>v2.0/plant1.jpg"></div>
            </div>
            <div class="block_item right">
                <div class="info">
                    <h2 class="title">唤醒系列</h2>
                    <div class="separator"></div>
                    <p class="block_intro">
                        <span>适合100-200平米</span>
                        好的办公环境应该是以人为本，绿色植物可以驱逐工作的负能量，唤醒你沉睡中的潜意识。
                    </p>
                    <div class="bottom">
                        <a href="/plant/view/100708">
                            <div class="view_block">
                                <div class="view_text"><p>查看详情</p></div>
                                <div class="view_more"><img class="more" src="<%=imgPath%>v2.0/product-btn-arrow-white.png"></div>
                            </div>
                        </a>
                    </div>
                    <img class="double_separator" src="<%=imgPath%>v2.0/double_separator.jpg">
                </div>
            </div>
        </div>
        <div class="block_group">
            <div class="block_item left">
                <div class="info">
                    <h2 class="title">希望系列</h2>
                    <div class="separator"></div>
                    <p class="block_intro">
                        <span>适合300-500平米</span>
                        一个好的办公环境，可以培养一种积极的感情，在工作生活中不屈不饶，拥有信仰。
                    </p>
                    <div class="bottom">
                        <a href="/plant/view/100711">
                            <div class="view_block">
                                <div class="view_text"><p>查看详情</p></div>
                                <div class="view_more"><img class="more" src="<%=imgPath%>v2.0/product-btn-arrow-white.png"></div>
                            </div>
                        </a>
                    </div>
                    <img class="double_separator" src="<%=imgPath%>v2.0/double_separator.jpg">
                </div>
            </div>
            <div class="block_item right">
                <div class="squared"></div>
                <div class="pic"><img src="<%=imgPath%>v2.0/plant2.jpg"></div>
            </div>
        </div>
        <div class="block_group">
            <div class="block_item left">
                <div class="squared"></div>
                <div class="pic"><img src="<%=imgPath%>v2.0/plant3.jpg"></div>
            </div>
            <div class="block_item right">
                <div class="info">
                    <h2 class="title">不朽系列</h2>
                    <div class="separator"></div>
                    <p class="block_intro">
                        <span>适合600-1000平米</span>
                        企业的发展需要文化的支撑，而文化往往由人来创造，即为立德者不朽，立功者不朽，立言者不朽。拥有此三不朽，何愁事业。
                    </p>
                    <div class="bottom">
                        <a href="/plant/view/100714">
                            <div class="view_block">
                                <div class="view_text"><p>查看详情</p></div>
                                <div class="view_more"><img class="more" src="<%=imgPath%>v2.0/product-btn-arrow-white.png"></div>
                            </div>
                        </a>
                    </div>
                    <img class="double_separator" src="<%=imgPath%>v2.0/double_separator.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section3">
    <div class="wrap">
        <div id="section_title">
            <h2>我们的优势</h2>
        </div>
        <div id="section_intro">
            <div class="section_intro_item">
                <div class="section_intro_icon" id="section_icon_1">
                    <img src="<%=imgPath%>v2.0/plant-ad-1.png" />
                </div>
                <h4>品种齐全</h4>
                <p>品类齐全的绿植，根据您办公室<br>
                    不同的情况，为您提供最<br>
                    适合的绿植摆放方案</p>
            </div>
            <div class="section_intro_item">
                <div class="section_intro_icon" id="section_icon_2">
                    <img src="<%=imgPath%>v2.0/plant-ad-2.png" />
                </div>
                <h4>周到的服务</h4>
                <p>免费上门、专业的养护<br>
                    周到的服务</p>
            </div>
        </div>
    </div>
</div>
<%include footer.html%>
<script src="<%=jsPath%>jquery-1.8.0.min.js,v2.0/move-min.js,global.min.js,v2.0/jquery.easing.1.3.js,v2.0/list2.min.js"></script>
</body>
</html>