<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>退换货说明 - 蓝考拉</title>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>reset.css,global.css,help.css,v2.0/common.css">
</head>
<body>
<% include header.html %>
<div class=" clear comWidth">
    <!--面包屑-->
    <%include help_bread.html%>
    <!--面包屑 end-->
    <div class="main clearfix">
        <div class="leftMenu fl">
            <% include helpnav.html %>
        </div>
        <div class="rightBox">
            <div class="mcontent">
                <div class="ltMw1">
                    <h3 class="hf3">退换货说明<!--<span class="n">（带<b class="icson_red">*</b>号的项目为必填项）</span>--></h3>
                    <div class="helpPara">
                        <p>蓝考拉所销售的商品均为正品行货，可按照国家三包和厂商售后政策，享受相应的保修、更换、维修和保养服务。</p>
                        根据国家相关法律制定，若所购商品出现国家三包所规定的性能故障，经由厂商指定或特约维修点确认故障确实，自商品售出之日起（以收货日期为准）</p>

                        <p>自商品出售之日起（以收到货日期为准）</p>
                        <p>您可享受：</p>
                        <p>7天内，选择退货、换货、免费保修</p>
                        <p>第8-15天内，可以选择换货、免费保修</p>
                        <p>16-保修期内，可享受保修服务</p>

                        <p>以下商品不仅包含以下商品不参与7天无理由退货，办公家具、办公环境装饰装修、办公服务、休闲食品</p>



                        <p>1）蓝考拉销售商品均为正品行货，可按国家三包和厂商售后政策，享受相应的保修、更换、维修和保养服务；</p>
                        <p>2）蓝考拉会为所有客户开具发票作为客户的质保凭证，请您妥善保留原件作为后续质保之需；</p>
                        <p>3）换货的定义是结合国家三包和具体厂商售后政策而定，可能是更换“新品”，也可能是更换“良品”（“良品”即拆封或使用过，但没有任何质量问题的同型号产品）；</p>
                        <p>4）选择退货的客户必须提供对应产品的发票，并保证产品的完整，包括原来的包装物、 用户手册（如果有）和其他由厂商提供的一切附件。如果某一部分丢失或损坏，则不符合蓝考拉的退货条款，我们将无法提供退货服务；</p>
                        <p>5）蓝考拉提供的定制类商品及相关服务不参与退货，办公家具、办公环境装饰装修、办公服务、休闲食品</p>
                        <p>6）由于产品的不同，各厂商服务政策的差异，在实施细则上，如保修操作、售后服务、技术支持等方面为您提供服务可能会有所差异；所有保修规定均以国家《三包条例》为准则，如本说明有和《三包规定》相冲突之处，以《三包条例》为准。</p>

                        <p>属下列情况之一的，则不在国家相关《三包条例》之列：</p>
                        <p>a.超过三包有效期的；</p>
                        <p>b.未按产品使用的要求使用、维护、保管而造成损坏的；</p>
                        <p>c.非承担三包的修理者（即非厂商指定或特约维修点）拆动造成损坏的；</p>
                        <p>d.没有有效三包凭证及有效发货票的；</p>
                        <p>e.擅自涂改三包凭证的；</p>
                        <p>f.三包凭证上的产品型号或编号与商品实物不相符合的；</p>
                        <p>g.因不可抗力造成损坏的；</p>
                        <p>h.非产品本身质量问题，如：兼容性问题，对于颜色，外观，形状不满意等；</p>
                        <p>i.对于存储类产品，请尽可能在返修前导出数据。如果在产品出现质量问题之前，您未及时导出数据，为了数据安全和完整，建议您直接联系相关厂商的特约维修点进行确认。</p>

                        <h3 class="blue">特别说明：</h3>
                        <p>1.台式机内如某配件有质量问题，请联络对应品牌客服进行退换货保修，整机不享受退换货服务；</p>
                        <p>2.键鼠套装、内存套装需要整套进行退换货和保修;</p>
                        <p>3.耳机保修需要您提供外包装，保修卡、防伪贴（如有）等整套保修材料;</p>
                        <p>4.游戏、软件类商品含授权/激活信息（包括且不限于序列号SN、激活码、CDKEY等）为特殊商品,质量问题可直接联系生产厂家的售后服务中心。</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="<%=jsPath%>jquery-1.8.0.min.js,jquery.SuperSlide.2.1.1.js,v2.0/move-min.js,global.min.js"></script>
<% include footer.html %>
</body>
</html>