<dl class="leftMenu-group">
    <dt>购物指南</dt>
    <dd <%=(helpnavIndex == 'shopping' ? 'class=\'cur\'' : '')%>><a href="/help/shopping">购物流程</a></dd>
    <dd <%=(helpnavIndex == 'leaves' ? 'class=\'cur\'' : '')%>><a href="/help/leaves">桉树叶规则</a></dd>
    <dd <%=(helpnavIndex == 'member' ? 'class=\'cur\'' : '')%>><a href="/help/member">会员规则</a></dd>
    <dd <%=(helpnavIndex == 'pay' ? 'class=\'cur\'' : '')%>><a href="/help/pay">支付方式</a></dd>
</dl>
<dl class="leftMenu-group">
    <dt>售后服务</dt>
    <!--<dd <%=(helpnavIndex == 'invoice' ? 'class=\'cur\'' : '')%>><a href="/help/invoice">发票说明</a></dd>-->
    <dd <%=(helpnavIndex == 'refund' ? 'class=\'cur\'' : '')%>><a href="/help/refund">退换货</a></dd>
</dl>