<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>桉树叶规则 - 蓝考拉</title>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>reset.css,global.css,help.css,v2.0/common.css">
</head>
<body>
<% include header.html %>
<div class=" clear comWidth">
    <!--面包屑-->
    <%include help_bread.html%>
    <!--面包屑 end-->
    <div class="main clearfix">
        <div class="leftMenu fl">
            <% include helpnav.html %>
        </div>
        <div class="rightBox">
            <div class="mcontent">
                <div class="ltMw1">
                    <h3 class="hf3">购物流程<!--<span class="n">（带<b class="icson_red">*</b>号的项目为必填项）</span>--></h3>
                    <div class="helpPara">
                        <h3>一、桉树叶获取</h3>
                        <p>1、每一笔成功交易的订单，所付现金部分都可获得桉树叶，不同商品积分标准不同，获得桉树叶数量以订单提交时所注明的桉树叶数量为准；</p>
                        <p>2、参与出校活动特定商品购物时，将额外获得桉树叶；</p>
                        <p>3、阶段性的积分促销活动，也会给您带来额外的促销赠分，详见积分活动；</p>
                        <p>4、促销商品及不能获得积分。</p>
                    </div>
                    <div class="helpPara">
                        <h3>二、桉树叶促销活动</h3>
                        <p>蓝考拉会不定期地推出各种促销活动，请随时关注关于桉树叶促销的告知；</p>
                        <p>1、会员可以用桉树叶参与蓝考拉网站指定的各种活动，参与后会扣减相应的积分；</p>
                        <p>2、积分不可用于兑换现金，仅限参加蓝考拉指定兑换物品、参与抽奖、抵扣消费金额等各种活动。</p>
                    </div>
                    <div class="helpPara">
                        <h3>三、会员桉树叶获取细则</h3>
                        <p>1、不同账户桉树叶不可合并使用</p>
                        <p>2、桉树叶只适用于蓝考拉网站使用，不适于以恶意竞争购买销售为目的的购买行为；</p>
                        <p>3、桉树叶不可提现或赠予他人，不可出售或其他以盈利为目的的行为。</p>
                        <p>4.如产生退货，您退货产品的积分将被扣除</p>
                        <p>5.特惠产品及部分促销商品不可使用桉树叶兑换，获得积分以结算时注明结果为准。</p>
                    </div>
                    <div class="helpPara">
                        <h3 class="blue">桉树叶使用规则</h3>
                        <p>1. 桉树叶可支付蓝考拉站订单，在消费时100桉树叶可抵1元现金，最高可冲抵结算金额的25%；</p>
                        <p>2. 部分兑换商品有时间和数量的限制，先兑先得，兑完即止；</p>
                        <p>3.桉树叶抵扣金额不参与不参与各类满减额赠促销活动；满额赠送以订单实际支付金额为准；</p>
                        <p>4. 使用桉树叶兑换的商品，属于对会员的回馈行为而非交易，桉树叶部分不提供发票；</p>
                        <p>5. 以桉树叶兑换的商品（包括但不限于办公用品、耗材等）折价、代金券或其他凭证，是有使用期限的，您需要在该折价、兑换券或其他凭证所标注的有效期内使用，否则即丧失使用权利，亦无法退换或延续；</p>
                        <p>6. 桉树叶是蓝考拉对用户行为的记录数据，不构成用户资产。</p>
                    </div>
                    <div class="helpPara">
                        <h3 class="blue">免责条款</h3>
                        <p>感谢您访问蓝考拉的桉树叶积分计划，本计划由北京匠心阁网络科技有限公司提供。以上计划条款和条件，连同计划有关的任何促销内容的相应条款和条件，构成本计划会员与蓝考拉之间关于制度的完整协议。如果您使用蓝考拉，您就参加了本计划并接受了这些条款、条件、限制和要求。请注意，您对蓝考拉站的使用以及您的会员资格还受制于蓝考拉站上时常更新的所有条款、条件、限制和要求，请仔细阅读这些条款和条件。</p>
                        <h3>协议的变更</h3>
                        <p>蓝考拉可以在没有特殊通知的情况下自行变更本条款、蓝考拉的任何其它条款和条件、或您的计划会员资格的任何方面。 对这些条款的任何修改将被包含在蓝考拉的更新的条款中。如果任何变更被认定为无效、废止或因任何原因不可执行，则该变更是可分割的，且不影响其它变更或条件的有效性或可执行性。在我们变更这些条款后，您对蓝考拉的继续使用，构成您对变更的接受。</p>
                        <h3>终止</h3>
                        <p>蓝考拉可以不经通知而自行决定终止全部或部分计划，或终止您的计划会员资格。即使蓝考拉没有要求或强制您严格遵守这些条款，也并不构成对属于蓝考拉的任何权利的放弃。如果您在蓝考拉的客户帐户被关闭，那么您也将丧失您的会员资格。对于该会员资格的丧失，您对蓝考拉不能主张任何权利或为此索赔。</p>
                        <h3>责任限制</h3>
                        <p>除了蓝考拉的使用条件中规定的其它限制和除外情况之外，在中国法律法规所允许的限度内，对于因会员积分计划而引起的或与之有关的任何直接的、间接的、特殊的、附带的、后果性的或惩罚性的损害，或任何其它性质的损害， 蓝考拉、蓝考拉的董事、管理人员、雇员、代理或其它代表在任何情况下都不承担责任。蓝考拉的全部责任，不论是合同、保证、侵权（包括过失）项下的还是其它的责任，均不超过您所购买的与该索赔有关的商品价值额。这些责任排除和限制条款将在法律所允许的最大限度内适用，并在您的计划会员资格被撤销或终止后仍继续有效。</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="<%=jsPath%>jquery-1.8.0.min.js,jquery.SuperSlide.2.1.1.js,v2.0/move-min.js,global.min.js"></script>
<% include footer.html %>
</body>
</html>