<!DOCTYPE html>
<html>
<head>
    <title>关于我们 - 蓝考拉</title>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>reset.css,global.css,help.css,v2.0/common.css">
</head>
<body>
<% include header.html %>
<div class="clear comWidth">
    <div id="aboutus">
        <h3><img src="<%=imgPath%>whoweare.png" alt="我们是谁"></h3>
        <p>蓝考拉（www.lankaolao.com）隶属于北京匠心阁网络技术有限公司，2014年于北京正式起航，致力于为企业办公提供最贴心最快速的办公服务，改善传统的办公服务，整合企业办公所需，成为中国最优秀最贴心的办公服务平台，让每一个企业都能够足不出户，高效办公。</p>
        <p>蓝考拉为广大企业用户提供简单、安全、快捷的办公服务平台。通过丰富的产品、人性化的服务、简洁大方的网站（www.lankaola.com）以及富有竞争力的价格，提供具有丰富品类及卓越品质的商品和服务。蓝考拉向您保证，我们会采取快速可靠的方式为所有消费者送货上门，并为您提供供灵活多样的支付方式。</p>
        <h3><img src="<%=imgPath%>whatwedo.png" alt="我们是谁"></h3>
        <p>蓝考拉为所有企业提供20大类超过5000种的丰富商品和服务，包含了，企业服务、办公家具、办公室装饰装修服务、办公室环境服务、办公产品及下午茶等类目。其中企业服务一类包含了从公司注册、海外公司注册、香港公司注册、投资顾问、公司法律顾问、专利申请、商标注册一级软件著作权注册等一系列的服务项目；办公文具包含传统办公中所需要的纸、笔、本以及办公家具在内的所有办公用品；蓝考拉提供办公环境的装饰装修服务和办公室的整体环境服务。其中，办公环境服务中所涉及到的绿植类产品，蓝考拉采用的是绿植租赁的合作方式，一改传统办公绿植的购买服务，绿植租赁，只需花费相关租赁费用，无需购买即可享受购买一样的品质保证，且能享受到专门的绿植维护，定期保养等特权。</p>
        <p>蓝考拉是一家为企业提供综合服务的公司，从成立伊始就投入巨资开发完善可靠、能够不断升级、以企业应用服务为核心的自有技术平台。我们将继续增强公司的技术平台实力，以便更好地提升内部运营效率，同时为蓝考拉的所有合作伙伴提供更加卓越的服务。</p>
    </div>
</div>
<script type="text/javascript" src="<%=jsPath%>jquery-1.8.0.min.js,jquery.SuperSlide.2.1.1.js,v2.0/move-min.js,global.min.js"></script>
<%include footer.html%>
</body>
</html>