<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蓝考拉企业服务平台-企业服务首选（LANKAOLA.COM）-时效服务、正品低价、品质保障、货到付款、配送及时、放心服务、享受服务！</title>
    <meta name="Keywords" content="企业服务,企业服务平台,办公服务，办公服务平台，笔记本,电脑,办公耗材，办公服务，企业服务，法律服务，注册服务，公司注册，蓝考拉企业服务平台">
    <meta name="description" content="蓝考拉LANKAOLA.COM-专业企业服务综合平台，在线销售办公用品、企业服务、法律服务、公司注册、办公服务、办公设备、电脑、办公家具、耗材、文具/耗材、食品、在线产品定制等数千牌千万种优质商品。便捷、诚信的服务，为您提供愉悦的办公服务体验! ">
    <link rel="stylesheet" type="text/css" href="<%=cssPath%>global.css,style.css,v2.0/common.css,v2.0/index.css">
</head>
<body>
<%include header.html%>
<div id="banner">
    <img src="<%=imgPath%>v2.0/banner.png" />
</div>
<div id="services">
    <div id="services-title" class="item-title"> <h2>我们能为您提供的企业服务</h2></div>
    <ul>
        <li class="service-item">
            <a href="/service">
                <span id="service-item1" class="service-item-icon">
                    <img src="<%=imgPath%>v2.0/service-item1.png" />
                    <span class="service-item-cover"></span>
                </span>
                <span class="service-item-title">工商服务</span>
                <span class="service-item-info">
                    提供注册 、知识产权、项目融资等服务<br>
                    蓝考拉为您的企业东奔西跑
                </span>
            </a>
        </li>
        <li class="service-item">
            <a href="/furniture">
                <span id="service-item2" class="service-item-icon">
                    <img src="<%=imgPath%>v2.0/service-item2.png" />
                    <span class="service-item-cover"></span>
                </span>
                <span class="service-item-title">办公家具</span>
                <span class="service-item-info">
                    为您提供具有环保品质、结实 耐用的办公家具<br>
                    蓝考拉为您提供多种办公家具的解决方案
                </span>
            </a>
        </li>
        <li class="service-item">
            <a href="/decoration">
                <span id="service-item3" class="service-item-icon">
                    <img src="<%=imgPath%>v2.0/service-item3.png" />
                    <span class="service-item-cover"></span>
                </span>
                <span class="service-item-title">办公装修</span>
                <span class="service-item-info">
                    为您量身定制独有的办公室装修设计<br>
                    蓝考拉会让您的办公室有家的感觉
                </span>
            </a>
        </li>
        <li class="service-item">
            <a href="/supply">
                <span id="service-item4" class="service-item-icon">
                    <img src="<%=imgPath%>v2.0/service-item4.png" />
                    <span class="service-item-cover"></span>
                </span>
                <span class="service-item-title">办公用品</span>
                <span class="service-item-info">
                    让每一个企业轻松采购办公用品<br>
                    蓝考拉为您提供最贴心的办公产品采购平台
                </span>
            </a>
        </li>
        <li class="service-item">
            <a href="/plant">
                <span id="service-item5" class="service-item-icon">
                    <img src="<%=imgPath%>v2.0/service-item5.png" />
                    <span class="service-item-cover"></span>
                </span>
                <span class="service-item-title">绿植服务</span>
                <span class="service-item-info">
                    多种绿植供您选择，免费上门为您的植物养护<br>
                    蓝考拉把绿色带到您的办公室
                </span>
            </a>
        </li>
        <li class="service-item">
            <a href="/list-80-0-0.html">
                <span id="service-item6" class="service-item-icon">
                    <img src="<%=imgPath%>v2.0/service-item6.png" />
                    <span class="service-item-cover"></span>
                </span>
                <span class="service-item-title">休闲小食</span>
                <span class="service-item-info">
                    一份来自原产地的绿色食品，一份简单的下午茶<br>
                    蓝考让您的员工从繁忙的工作中稍作休憩。
                </span>
            </a>
        </li>
    </ul>
</div>
<div id="product">
    <div class="product-item product-big" id="product1">
        <div class="product-img-big"><img src="<%=imgPath%>v2.0/product1.jpg" /> </div>
        <div class="product-intro-big">
            <h3>还为装修发愁？</h3>
            <p>
                低于市场的平均施工周期<br>
                实时向您提供施工的进度<br>
                免费提供办公室的平面和3D设计方案
            </p>
            <div class="product-btn-area">
                <a class="product-btn" href="/decoration/view/100699" target="_blank">
                    <span class="product-btn-text">为您推荐</span>
                    <span class="product-btn-arrow"><img src="<%=imgPath%>v2.0/product-btn-arrow.png" /></span>
                </a>
                <a class="product-btn nobl" href="/decoration">
                    <span class="product-btn-text">展示全部</span>
                    <span class="product-btn-arrow"><img src="<%=imgPath%>v2.0/product-btn-arrow.png" /></span>
                </a>
            </div>
            <div class="product-arrow"><img src="<%=imgPath%>v2.0/product-arrow1.png"></div>
        </div>
    </div>
    <div class="product-item product-small" id="product2">
        <div class="product-img-small"><img src="<%=imgPath%>v2.0/product2.jpg" /></div>
        <a class="product-intro-small" href="/decoration">
            <span class="product-intro-title">量身定制独有的装修设计 <span class="product-toggle"></span></span>
            <span class="product-intro-text">
            行业顶尖的设计师和资深的设计顾问<br>
			多名行业精英监理，监督工程质量<br>
            为您的公司提供超长的质保周期</span>
        </a>
    </div>
    <div class="product-item product-small" id="product3">
        <div class="product-img-small"><img src="<%=imgPath%>v2.0/product3.jpg" /></div>
        <a class="product-intro-small" href="/furniture">
            <span class="product-intro-title">IPAD现场出图<span class="product-toggle"></span></span>
            <span class="product-intro-text">
                轻松画出您的办公室<br>
                自由的摆放办公家具<br>
                迅速的查看办公家具的信息
            </span>
        </a>
    </div>
    <div class="product-item product-big" id="product4">
        <div class="product-intro-big">
            <h3>购买办公家具不用东奔西跑！</h3>
            <p>免费上门测量<br>
                免费提供安装服务，到您满意为止<br>
                超长的质保周期
            </p>
            <div class="product-btn-area">
                <a class="product-btn" href="/furniture/view/100702" target="_blank">
                    <span class="product-btn-text">为您推荐</span>
                    <span class="product-btn-arrow"><img src="<%=imgPath%>v2.0/product-btn-arrow.png" /></span>
                </a>
                <a class="product-btn nobl" href="/furniture">
                    <span class="product-btn-text">展示全部</span>
                    <span class="product-btn-arrow"><img src="<%=imgPath%>v2.0/product-btn-arrow.png" /></span>
                </a>
            </div>
            <div class="product-arrow"><img src="<%=imgPath%>v2.0/product-arrow2.png"></div>
        </div>
        <div class="product-img-big"><img src="<%=imgPath%>v2.0/product4.jpg" /> </div>
    </div>
    <div class="line" id="line1"></div>
    <div class="line" id="line2"></div>
    <div class="line" id="line3"></div>
    <div class="line" id="line4"></div>
    <div class="line" id="line5"></div>
</div>
<div id="ic-service">
    <div class="wrap">
        <div id="ic-left" class="ic-item inline-block">
            <a href="/service" target="_blank">
                <span id="ic-animate6"><img src="<%=imgPath%>v2.0/ic-animate6.png"></span>
                <span id="ic-animate5"><img src="<%=imgPath%>v2.0/ic-animate5.png"></span>
                <span id="ic-animate4"><img src="<%=imgPath%>v2.0/ic-animate4.png"></span>
                <span id="ic-animate3"><img src="<%=imgPath%>v2.0/ic-animate3.png"></span>
                <span id="ic-animate2"><img src="<%=imgPath%>v2.0/ic-animate2.png"></span>
                <span id="ic-animate1"><img src="<%=imgPath%>v2.0/ic-animate1.png"></span>
                <span id="ic-logo">lankaola.com</span>
            </a>
        </div>
        <div id="ic-right" class="ic-item inline-block">
            <h2>我们能为您提供工商服务</h2>
            <p>我们提供公司注册、商标注册、软件著作权和专利申请、法律顾问、企业投资顾问等多项企业服务</p>
            <p>蓝考拉有最专业的团队让您只需专注于企业的运作，我们为您的企业提供各个时期的不同的服务。</p>
            <a id="ic-btn" href="/service" target="_blank">
                <span class="ic-btn-text">为你推荐</span>
                <span class="ic-btn-arrow"><img src="<%=imgPath%>v2.0/ic-btn-arrow-white.png"></span>
            </a>
        </div>
    </div>
</div>
<div id="supply">
    <div id="supply-wrap">
        <div id="supply-item">
            <div class="supply-item"><img src="<%=imgPath%>v2.0/supply1.png" /> </div>
            <div class="supply-item"><img src="<%=imgPath%>v2.0/supply2.png" /> </div>
            <div class="supply-item"><img src="<%=imgPath%>v2.0/supply3.png" /> </div>
            <div class="supply-item"><img src="<%=imgPath%>v2.0/supply4.png" /> </div>
            <div class="supply-item"><img src="<%=imgPath%>v2.0/supply5.png" /> </div>
            <div class="supply-item"><img src="<%=imgPath%>v2.0/supply6.png" /> </div>
        </div>
        <div id="supply-title">优质的办公用品和绿植服务<br>让蓝考拉送到您的办公桌上</div>
        <div id="supply-text">
            <p>品类齐全的办公用品任您挑选</p>
            <p>相同行业内最快速靠谱的物流</p>
            <p>积分体系让您获得更多的实惠</p>
            <p>最优质的供应链带来最低的价格</p>
        </div>
    </div>
</div>
<div id="advantage">
    <div class="advantage-item">
        <div id="advantage-item1"></div>
        <h3>超低的价格</h3>
        <p>多家优质供应商紧密合作，提供性价比最高的产品和服务<br>
            兰考拉超强的整合能力带来了超出您预期的低价
        </p>
    </div>
    <div class="advantage-item">
        <div id="advantage-item2"></div>
        <h3>贴心的服务</h3>
        <p>致力于为企业办公提供最贴心最快速的办公服务，打破传统思想<br>
            整合企业办公所需，成为中国最优秀最贴心的企业服务平台
        </p>
    </div>
</div>
<%include footer.html%>
<script src="<%=jsPath%>jquery-1.8.0.min.js,v2.0/move-min.js,global.min.js,v2.0/index.min.js"></script>
</body>
</html>