<!DOCTYPE html>
<html>
<head>
    <title>申请退换货 - 蓝考拉</title>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>reset.css,global.css,tuihuanhuo.css,uploadify.css,v2.0/common.css">
</head>
<body>
<% include header.html %>
<div class=" clear comWidth">
    <!--面包屑-->
    <% include bread.html %>
    <!--面包屑 end-->
    <div class="main clearfix">
        <div class="leftMenu fl">
            <% include user_nav.html %>
        </div>
        <div class="rightBox">
            <div class="sgnav"><a class="cur">申请/退换货</a><a href="/refund/list">退换货记录</a></div>
            <div class="mcontent">
                <div class="ltMw1">
                    <div class="clearfix thhinfo pt10">
                        <table class="bought-table">
                            <thead class="col-name">
                            <tr>
                                <td class="nobor thh_info">申请退换货商品信息</td>
                                <td class="nobolr thh_num">数量</td>
                                <td class="nobol thh_amounts">退换货商品金额</td>

                            </tr>
                            </thead>
                            <tbody class="col-body1">
                            <tr>
                                <td class="thh-info">
                                    <table class="inner-tab nohasbor">
                                        <tbody>
                                        <tr>
                                            <td class="thh_img"><a href="/item-<%sku.sku_id%>.html" target="_blank"><img src="<%=(sku.img_50 ? (productImgPath+sku.img_50) : (imgPath+'lankaola_product.jpg'))%>" width="50" height="50"></a></td>
                                            <td class="agleft thh_detail"><a href="/item-<%=sku.sku_id%>.html" class="thhPdes"><%=[sku.brand_name, sku.goods_name, sku.skuName].join(' ')%></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="thh_num"><%=sku.quantity%></td>
                                <td class="thh_amounts">￥<%=parseFloat(sku.price).toFixed(2)%></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="mt mt20">
                        <h3>确认处理方式</h3>
                    </div>
                    <form name="apply" id="apply" method="post">
                        <input type="hidden" value="<%=orderSku%>" name="orderSku" id="orderSku">
                        <div class="clearfix mc">
                            <div class="row-group">
                                <div class="label_col">
                                    <span class="required">*</span><label>期望处理方式：</label>
                                </div>
                                <div class="con_col">
                                    <label class="radio_wrap"><input type="radio" name="type" value="2" checked><span>换货</span></label>
                                    <label class="radio_wrap"><input type="radio" name="type" value="1"><span>退货</span></label>
                                </div>
                            </div>

                            <div class="row-group">
                                <div class="label_col">
                                    <span class="required">*</span><label for="reason">问题描述：</label>
                                </div>
                                <div class="con_col bigarea">
                                    <textarea class="bigtext textArea01 fl" name="reason" id="reason"></textarea>
                                    <p class="tip fl"><i></i>请输入问题描述，谢谢！</p>
                                </div>

                            </div>
                            <div class="row-group">
                                <div class="label_col">
                                    <label>图片信息：</label>
                                </div>
                                <div class="con_col">
                                    <div class="clearfix">

                                        <div class="viewImg">

                                            <div class="imgbox">
                                                <ul id="imgList">
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                    <p class="clear mt10">最多可上传3张图片，每张图片大小不超过1M，支持jpg,png,jpeg格式文件</p>
                                </div>
                            </div>
                            <div class="row-group">
                                <div class="label_col"></div>
                                <div class="con_col">
                                    <input id="uploadify" type="file">
                                </div>
                            </div>
                            <div class="row-group">
                                <div class="label_col">
                                    <span class="required">*</span><label>收货地址：</label>
                                </div>
                                <div class="con_col">

                                    <select class="selectType1 fl" name="province" id="province">
                                        <option value="-1">请选择省份</option>
                                        <%for (var i = 0; i < province.length; i++) {%>
                                        <option <%=(province[i].city_id == order.province_id ? 'selected="selected"' : '')%> value="<%=province[i].city_id%>"><%=province[i].city_name%></option>
                                        <%}%>
                                    </select>
                                    <select class="selectType1 fl ml10" name="city" id="city">
                                        <%for (var i = 0; i < city.length; i++) {%>
                                        <option <%=(city[i].city_id == order.city_id ? 'selected="selected"' : '')%> value="<%=city[i].city_id%>"><%=city[i].city_name%></option>
                                        <%}%>
                                    </select>
                                    <select class="selectType1 fl ml10" name="county" id="county">
                                        <%for (var i = 0; i < county.length; i++) {%>
                                        <option <%=(county[i].city_id == order.county_id ? 'selected="selected"' : '')%> value="<%=county[i].city_id%>"><%=county[i].city_name%></option>
                                        <%}%>
                                    </select>
                                    <p class="red clear pt10">如您修改地址，请确认上方省市是否需要修改。</p>
                                </div>

                            </div>
                            <div class="row-group">
                                <div class="label_col">
                                </div>
                                <div class="con_col">
                                    <input class="text type02 fl" name="address" id="address" value="<%=order.address%>" /> <p class="tip"><i></i>请输入正确地址，谢谢！</p>
                                </div>
                            </div>
                            <div class="row-group">
                                <div class="label_col">
                                    <span class="required">*</span><label for="name">联系人姓名：</label>
                                </div>
                                <div class="con_col">
                                    <input class="text type01 fl" name="name" id="name" value="<%=order.name%>" /> <p class="tip"><i></i>请输入联系人姓名</p>
                                </div>
                            </div>
                            <div class="row-group">
                                <div class="label_col">
                                    <span class="required">*</span><label for="phone">手机号码：</label>
                                </div>
                                <div class="con_col">
                                    <input name="phone" id="phone" class="text type01 fl" value="<%=order.phone%>" /> <p class="tip"><i></i>请输入正确的手机号码</p>
                                </div>
                            </div>
                        </div>
                        <div class="clear tc mt20">
                            <input type="submit" class="btn btn_middle btn_blue" value="提交">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="<%=jsPath%>jquery-1.8.0.min.js,jquery.SuperSlide.2.1.1.js,v2.0/move-min.js,validate.min.js,jquery.uploadify.min.js,global.min.js,refund.min.js"></script>

<%include footer.html%>
</body>
</html>