@charset "utf-8";
/* CSS Document */

.shouhuoManager td.sh_address{ width:490px; padding-left:20px; padding-right:20px;}
.shouhuoManager tbody td{ padding-top:15px; padding-bottom:15px;}
.shouhuoManager tbody td.sh_address{text-align:left;}
.changeBt{}
.shouhuoManager .hgh{ padding-left:20px;}
.shouhuoManager .hgh .text{ margin:0 10px;}
.addEasy{clear: both;}
.addEasy a, .addEasy span{display: inline-block; *display: inline; zoom: 1;vertical-align: middle; height: 25px; line-height: 25px;}
.addEasy span{margin-left: 10px;}
.form em{color: #e4393c;}
.form .item span.label{ height: 18px; line-height: 18px; padding: 6px 0;width: 100%;}
.form .itxt, .form .selt, .form .sele, .form .area{line-height: 18px; border: 1px solid #ccc; padding: 5px; float: left;}
.ftx-03{color: #999;}
.easebuy-m { border: 1px solid #e6e6e6; margin: 10px 0; clear: both; }
.easebuy-m .smt { padding-left: 10px; line-height: 35px; height: 35px; position: relative; display: inline-block; display: block; overflow: hidden }
.easebuy-m .smt:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
* html .easebuy-m .smt { height: 1% }
*+html .easebuy-m .smt { min-height: 1% }
.easebuy-m .smt h3 { float: left; color: #666; font-size: 18px; font-weight: bold }
.easebuy-m .smt .extra { float: right; margin: 0 10px 0 0 }
.easebuy-m .smt .extra a { color: #005ea7; margin: 0 0 0 20px; background: #f7f7f7; border: 1px solid #ddd; padding: 2px 14px 3px; border-radius: 2px; height: 18px; line-height: 18px; display: inline-block; *display: inline; zoom: 1;}
.easebuy-m .smt .extra a.btn-9 { color: #323333; margin-top: 10px }
.easebuy-m .smt h3 .ftx-02 { margin: 0 0 0 10px; font-size: 12px; background: #84c360; padding: 2px; color: #fff; font-weight: 400 }
.easebuy-m .smt h3 .ftx-03 { font-size: 12px; margin-left: 5px; font-weight: 400 }
.easebuy-m .smt h3 .mr10 { margin: 0 10px 0 0 }
.easebuy-m .smc { padding: 10px; line-height: 22px; width: 788px }
.easebuy-m .smc .new-items { position: relative; width: 788px }
.easebuy-m .smc .item-lcol { width: 450px; float: left }
.easebuy-m .smc .item-lcol .fl { width: 360px }
.easebuy-m .smc .item-rcol { width: 320px; float: left; padding-left: 10px; height: 100% }
.easebuy-m .smc .item-rcol .extra { position: absolute; right: 0; bottom: 0 }
.easebuy-m .smc .item-rcol .item { text-align: left; width: 100% }
.easebuy-m .smc .item span { float: left; width: 70px; color: #999; text-align: right }
.clr { display: block; overflow: hidden; clear: both; height: 0; line-height: 0; font-size: 0; }
#edit-cont { padding: 20px }
#edit-cont .item { margin: 0 0 5px; line-height: 22px }
#edit-cont .item .label { float: none; display: block; vertical-align: middle; color: #999; text-align: left }
#edit-cont .item .extra-span { margin: 26px 5px 0; display: block }
#edit-cont .item .text { height: 18px; line-height: 18px; padding: 6px; width: 220px; margin-right: 5px; vertical-align: middle }
#edit-cont .item .sele { width: auto; margin-right: 10px; float: none; }
#edit-cont .item .text1 { width: 484px }
#edit-cont .item a { color: #005ea6 }
#edit-cont .item .check { vertical-align: -2px; _vertical-align: -1px }
#edit-cont .item .error-msg { color: #c00; line-height: 32px }
#edit-cont .btns { margin: 10px 0 0 }
.thickbox{width: 760px; height: 500px; margin-top: -250px; margin-left: -380px;}
.thickwrap{ height: 540px; width: 760px;}
.thickbox .btns a {background-color: #f7f7f7; border-radius: 2px; display: inline-block; border: 1px solid #ddd; height: 28px; line-height: 28px; padding: 0 14px; font-size: 14px; color: #333;}

.guide { position: relative; width: 370px; height: 301px; overflow: hidden }
.guide ul { position: absolute; width: 1850px; top: 0; left: 0 }
.guide ul li { float: left; position: relative; width: 370px }
.guide ul li .next { position: absolute; width: 79px; height: 31px; line-height: 100px; overflow: hidden; z-index: 1; background-image: url(about:blank) }
.guide ul li .experience { position: absolute; width: 103px; height: 55px; line-height: 500px; overflow: hidden; top: 73px; left: 107px; display: block; background-image: url(about:blank) }
.guide ul li.fore1 .next { left: 134px; top: 120px }
.guide ul li.fore2 .next { left: 160px; top: 135px }
.guide ul li.fore3 .next { left: 160px; top: 164px }
.guide ul li.fore4 .next { left: 160px; top: 240px }
.guide ul li.fore5 .next { left: 134px; top: 120px }
.guide .close { position: absolute; z-index: 2; top: 38px; right: 61px; width: 20px; height: 20px; line-height: 100px; overflow: hidden; display: block; background-image: url(about:blank) }
#guidebox { border: 0 }
#guidebox .thicktitle { display: none }
#guidebox .thickclose { display: none }
#guidebox .thickcon { background: 0 0; border: 0; padding: 240px 0 0 }
#guidebox .thickwrap { background: 0 0; border: 0 }
.address-cont { padding: 5px 10px }
.address-cont h3 { font-family: '\5fae\8f6f\96c5\9ed1'; color: #333; margin: 0 0 5px }
.address-cont .item-cont { margin: 0 0 10px; line-height: 20px }
.address-cont .zt-cont { display: none; background: #fffdee; height: 108px; overflow-y: auto; padding: 10px 0 10px 10px; margin: 10px 0 0 }
.address-cont .zt-cont li { height: 30px }
.address-cont .radio-list li { float: left; margin-right: 10px }
.address-cont .del { color: #005EA7 }
.address-cont li input { vertical-align: -2px; _vertical-align: -1px; margin: 0 5px 0 10px }
