body{min-width: 1200px;}
a:hover { text-decoration: none; }
#stepDetail .orange{color: rgb(242,145,32)}
.nobor{border: 0;}
.nobl{border-left: 0;}
.wrap{width: 1200px; margin: 0 auto; position: relative;}
.ti20{text-indent: 28px;}
.inline-block { display: inline-block; *display: inline; zoom: 1; }
.left{float: left;}
.right{float: right;}
#top { position: relative; width: 100%; height: 100px; z-index: 999; border-bottom: 1px solid #dbdbdb;}
#logo { width: 170px; height: 100px; position: absolute; left: 80px; top: 0; }
#nav { width: auto; height: 100px; position: absolute; right: 85px; top: 0; font-size: 0; font-family: "Microsoft YaHei", "微软雅黑"; }
#nav > ul, #top-rgt { vertical-align: top; }
#nav > ul { height: 40px; border-right: 1px solid #c4c4c4; margin-top: 30px; padding-right: 15px; position: relative; overflow: hidden;}
#nav > ul li { display: inline-block; *display: inline; zoom: 1; font-size: 14px; padding: 0 15px; line-height: 40px; height: 40px; }
#nav a{color: #000;}
.nav-cur{display: block; width: 56px; height: 2px; font-size: 0; position: absolute; bottom: 0; left: -100px; background: #333;}
#top-rgt { margin-top: 30px; padding-left: 10px; }
#top-rgt > a, #top-rgt > div, #top-rgt > p { display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 14px; margin: 0 10px; line-height: 40px; height: 40px;  padding: 0 10px; }
#top-rgt #goto-cart { padding: 0; width: 30px; background: url("http://img.lankaola.com/images/v2.0/sprite.png") 0 5px no-repeat; position: relative; }
.red-dot{display: none; width: 8px; height: 8px; background: url("http://img.lankaola.com/images/v2.0/sprite.png") -33px -10px no-repeat; position: absolute; top: 5px; right: 0;}
#top-rgt #username{ position: relative; font-size: 0; vertical-align: middle; }
#username > span {display: inline-block; *display: inline; zoom: 1; vertical-align: middle; line-height: 40px; padding-right: 5px; font-size: 14px;}
#username .ava{width: 18px; height: 40px; background: url("http://img.lankaola.com/images/v2.0/sprite.png") -53px 5px no-repeat; padding-right: 10px;}
#username .name{max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#username .arrow{width: 7px; height: 40px; background: url("http://img.lankaola.com/images/v2.0/sprite.png") -86px 5px no-repeat; padding-right: 0; }
#username:hover .arrow{transform: rotate(180deg);}
#username ul{position: absolute; margin: 0; padding: 0; top: 40px; left: 38px; background: #fff; font-size: 14px; box-shadow: 0 0 6px rgba(12, 4, 7, .25); display: none; width: 76px;}
#username ul li a{display: block; padding: 0 10px; height: 34px; line-height: 34px; color: #333333;}
#username ul li a:hover{color: #fff; background: #666666;}
#top-rgt p { font-size: 14px; line-height: 15px; vertical-align: middle; padding-left: 10px; color: #666666; height: 30px;}

#footer1{width: 100%; height: 100px; border-top: 1px solid #dedfe1; margin-top: 100px;}
#tel{float: left; width: 270px; padding-left: 15px; margin-top: 30px; border-right: 1px solid #eaeaea; height: 50px; color: #515659;}
#nav2{float: right; font-size: 0; padding-top: 43px;}
#nav2 li{padding: 0 16px; border-right: 1px solid #d8d8d8; font-size: 14px; line-height: 14px; display: inline-block; *display: inline; zoom: 1; vertical-align: middle;}
#nav2 li a{color: #333333;}

#footer2{height: 56px; padding-top: 14px; border-top: 1px solid #dedfe1; background: #f3f3f3; text-align: center; color: #999999; font-family: Tahoma, "宋体"; line-height: 24px; font-size: 12px;}
#footer2 a{color: #999999;}
